@import "src/constants/variables.scss";

.cards {
  display: flex;
  flex-wrap: wrap;
  margin-right: 4%;
}

.title {
  display: flex;
  gap: 20px;
  margin-bottom: 40px;
}

.button {
  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  font-family: $font-primary;
  margin-right: 16px;
  background-color: $title-primary;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  transition: all 0.35s;
  &:hover {
    font-weight: bold;
    background-color: $background-secondary;
    color: $title-primary;
  }
}
