@import "src/constants/variables.scss";

.main {
  display: flex;
  gap: 10px;
  transition: all 0.4s;
  &:hover {
    border-bottom: 1px solid #202641;
  }
  .icon {
    color: $title-primary;
    transition: all 0.2s;
    &:hover {
      color: $background-secondary;
    }
  }
  .label {
    color: $title-primary;
    cursor: pointer;
  }
}
