@import "src/constants/variables.scss";

.main {
  display: flex;
  gap: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.single {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  background-color: white;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 6px;
}

.images {
  img {
    width: 300px;
    height: 100%;
    object-fit: cover;
  }
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
  h2,
  p {
    width: 300px;
    margin: 0;
  }
}

.cat {
  color: gray;
}

.btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: fit-content;
  width: fit-content;
}

.price {
  font-weight: bold;
}

.editBtn {
  box-sizing: border-box;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  font-family: $font-primary;
  margin-right: 16px;
  background-color: $title-primary;
  color: white;
  text-transform: uppercase;
  font-size: 18px;
  transition: all 0.35s;
  &:hover {
    font-weight: bold;
    background-color: $background-secondary;
    color: $title-primary;
  }
}
