@import "src/constants/variables.scss";

.main {
  margin-right: 3%;
}
.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.single {
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  background-color: white;
  border-radius: 6px;
  &:hover {
    color: $title-primary;
  }
}

.img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 6px;
  transition: all 0.3s;
  &:hover {
    filter: brightness(50%);
  }
}

.title {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1.2rem;
}

.btns {
  display: flex;
}
