@import "src/constants/variables.scss";

.main {
  width: 90%;
  height: calc(95vh - ($header-height));
  border-radius: 6px;
  background-color: white;
  color: $text-primary;
  list-style-type: none;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
